<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ahorcado</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1>Ahorcado</h1>
    <div id="game">
        <div id="empezar_juego">
            <input type="text" id="palabra" placeholder="Ingresa la palabra">
            <button id="iniciar" onclick="startGame()">Iniciar Juego</button>
        </div>
        <div id="game-screen" style="display: none;">
            <p id="palabra-escondida">_ _ _ _ _</p>
            <p id="vidas">Vidas restantes: 6</p>
            <p id="letras-usadas">Letras usadas: </p>
            <input type="text" id="letra" maxlength="1" placeholder="Adivina una letra">
            <button id="adivina-letra" onclick="adivinarLetra()">Adivinar Letra</button>
            <br>
            <input type="text" id="palabra-completa" placeholder="Adivina la palabra">
            <button id="adivina-palabra" onclick="adivinarPalabra()">Adivinar Palabra</button>
            <br>
            <button id="reiniciar" onclick="resetGame()">Reiniciar Juego</button>
        </div>
        <p id="mensaje"></p>
    </div>
    <script src="static/script.js"></script>
</body>
</html>
